# Google service account credentials
parent-messenger-487820-03c4e4e5a294.json
service_key.json
*-credentials*.json
twilio - confirguration
twilio - configuration
twilio_confirguration.py

# Python
venv/
__pycache__/
*.pyc
.python-version
